{% extends "components/metric.sql.j2" %}
{% block root_query -%}
SELECT
    s.`TRANDATE` AS `date`,
    COUNT(
        DISTINCT s.`CUSTOMER_PHONE`
    ) AS `Customers`,
FROM
    `NetSuite`.`vn_SalesOrderLines` s
    LEFT JOIN `NetSuite`.`Dim_LOCATIONS` l
    ON s.`LOCATION_ID` = l.`LOCATION_ID` {% if metric.filter -%}
    WHERE
        `ASM_ID` = {{ metric.filter }}
    {%- endif %}
GROUP BY
    1
{%- endblock %}
