{% macro metric_row(metric) -%}
STRUCT(
    '{{ metric.name }}' AS `name`,
    STRUCT(
        {% if metric.numerator and metric.denominator -%}
            SAFE_DIVIDE({{ metric.numerator }}, {{ metric.denominator }}) AS d0,
            SAFE_DIVIDE(
                LAG({{ metric.numerator }}, 1) OVER (ORDER BY date),
                LAG({{ metric.denominator }}, 1) OVER (ORDER BY date)
            ) AS d1,
            SAFE_DIVIDE(
                LAG({{ metric.numerator }}, 2) OVER (ORDER BY date),
                LAG({{ metric.denominator }}, 2) OVER (ORDER BY date)
            ) AS d2,
            SAFE_DIVIDE(
                SUM({{ metric.numerator }}) OVER (PARTITION BY TIMESTAMP_TRUNC(`date`, MONTH) ORDER BY `date` ASC ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),
                SUM({{ metric.denominator }}) OVER (PARTITION BY TIMESTAMP_TRUNC(`date`, MONTH) ORDER BY `date` ASC ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING)
            ) AS mtd
        {% else %}
            {{ metric.name }} AS d0,
            LAG({{ metric.name }}, 1) OVER (ORDER BY date) AS d1,
            LAG({{ metric.name }}, 2) OVER (ORDER BY date) AS d2,
            {{ metric.agg }}({{ metric.name }}) OVER (PARTITION BY TIMESTAMP_TRUNC(date, MONTH) ORDER BY date ASC ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING) AS mtd
        {%- endif %}
    ) AS `values`
) AS {{ metric.name }}
{%- endmacro %}
