{% import "metric.sql.j2" as _metric %}
SELECT
    LastUpdated,
    ARRAY_AGG(section) AS sections
FROM
    (
        SELECT
            LastUpdated,
            {% for section in report.sections -%}
                STRUCT(
                    '{{ section.name }}' AS `name`,
                    [ {% for metric in section.metrics %} {{ metric.name }} {% if not loop.last %} , {% endif %} {%- endfor %} ] AS metrics
                ) AS {{ section.name }},
            {%- endfor %}
        FROM
            (
                SELECT
                    date,
                    LastUpdated,
                    {% for section in report.sections -%}
                        {% for metric in section.metrics -%}
                            {{ _metric.metric_row(metric) }}

                            {% if not loop.last -%},
                            {%- endif %}
                        {%- endfor %}

                        {% if not loop.last -%},
                        {%- endif %}
                    {%- endfor %}
                FROM
                    `Analytics._agg_Slack_Report`
            )
        WHERE
            DATE(date) = CURRENT_DATE()
    ) unpivot(
        section for _section IN ({% for section in report.sections -%}
            {{ section.name }} {% if not loop.last -%}, {%- endif %}
        {%- endfor %})
    ) GROUP BY LastUpdated
