{% extends "components/metric.sql.j2" %}
{% block root_query -%}
SELECT
    `DATE_0` AS `date`,
    SUM(`TOTAL_TIMES_OF_VISITING`) AS `StoreTraffic`
FROM
    `voltaic-country-280607.NetSuite.STORE_TRAFFIC` s
    INNER JOIN `NetSuite`.`Dim_LOCATIONS` l
    ON s.`LOCATION_ID` = l.`LOCATION_ID`
WHERE
    `ASM_ID` <> 309811
GROUP BY
    1
{%- endblock %}
